<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>A_propos</title>
</head>
<body>
  <div class="container-fluid">
<h1 class="text-center mt-5">Bienvenue sur la page A_Propos</h1>
<h3 class="text-center mt-5">Si vous souhaitez employer une personne à domicile , vous devez vous inscrire sur le site officiel du service CESU-URSSAF ci-dessous afin de pouvoir valider les heures, bénéficier de réduction d'impôt, et couvrir le salarié qui intervient chez vous .</h3>

<h4 class="text-center mt-5">Pour accéder à ce service (CESU-URSSAF) cliquez sur l'image ci-dessous<br>(vérifiez toujours que le site est sécurisé avec le cadenas fermé dans la barre de recherche) </h4>
<div class="img container mt-5 ">

<a  href="https://www.cesu.urssaf.fr/info/accueil.html" target="_blank"><img class="d-block mx-auto w-75" src="assets/img/cesu.png" alt="site cesu"></a>

</div></div>
</body>
</html>
