footer {
  background-color: rgb(59, 92, 165);
  color:white;
  position: fixed;
  bottom:0px;
  padding-bottom: 5px;
  width:100%;
  height:auto;
  padding-top: 0px;
  text-align: center;
}

.lien{
  color:blue;
}
.centre{
  padding-top: 20px;
}


