<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <title>Document</title>
</head>
<body>


<footer>

    <div class="container">
      <div class="row">
        <div class="col-8">
          <div class=" centre">
            <p>© 2022 &nbsp;
              <a class="lien" [routerLink]="['/home']"> RocVoisins</a>&nbsp; All rights reserved&nbsp; Created by&nbsp;
              <a class="lien" [routerLink]="['/profil']">Richard S.</a>
            </p>
          </div></div>
        <div class="col-4 " style="padding-top:15px;">
          <p><a href="https://pixabay.com/fr/users/clker-free-vector-images-3736/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=306713">Images fournies</a> par<a href="https://pixabay.com/fr//?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=306713">Pixabay</a></p>
        </div>


      </div>
    </div>

</footer>
</body>
</html>
