<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Notre concept</title>
</head>
<body>
  <h1 class="titre text-center mt-5">Bienvenue sur le concept de notre site</h1>

  <div class="container ">
    <p class="text-center mt-5">Avec l'âge malheureusement, certains travaux que l'on faisait soi-même ne peuvent plus l'être.  RocVoisins peut vous aider !!!</p>
  </div>
  <div class="container  ">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
      </div>
      <div class="carousel-inner ">
        <div class="carousel-item active ">
          <img src="assets/img/menage.png" class="d-block w-50" style="margin-left: 25%;" alt="...">
        </div>
        <div class="carousel-item ">
          <img src="assets/img/plomberie.png" class="d-block w-50" style="margin-left: 25%;" alt="...">
        </div>
        <div class="carousel-item ">
          <img src="assets/img/jardin.png" class="d-block w-50" style="margin-left: 25%;" alt="...">
        </div>
        <div class="carousel-item ">
          <img src="assets/img/travauxinterieur.png" class="d-block w-50" style="margin-left: 25%;" alt="...">
        </div>
        <div class="carousel-item ">
          <img src="assets/img/vidange.png" class="d-block w-50" style="margin-left: 25%;" alt="...">
        </div>
      </div>

    </div>
  <div class="container texte  ">
    <p>Selon une enquête BVA , la solidarité entre voisins arrive en tête des motivations</p>
    <p>Le service entre voisins est une communauté regroupant plusieurs personnes vivant dans une même zone géographique ou non. Cette communauté a pour but de s’entraider à travers des services rendus. Les services consistent à fournir des prestations variées moyennant une rémunération. La particularité de ce concept est que les coûts appliqués sont très abordables et accessibles à toutes les bourses. Vous pouvez réaliser par exemple la tonte de votre jardin ou la réparation d’un appareil électroménager à prix très bas. Ce qui offre une meilleure alternative en termes de budget.</p>
    <p>C’est la raison pour laquelle on la désigne par ‘’entraide ou service entre voisins’’. Cette entraide couvre un large éventail de petits services. Il s’agit notamment du bricolage : carrelage, peinture, réparations diverses, électricité… Il y a également le baby-sitting, la garde d’animaux, le jardinage ...</p>
    <p>Trouver la personne (pour réaliser vos divers travaux) avec RocVoisins est très simple. Il vous suffit de nous contacter par email en cliquant sur le lien  <a href="mailto:#" class="lien">RocVoisins</a>  et de décrire votre/vos besoins(s), votre lieu de résidence..</p>
    <p>Par la suite nous vous répondrons afin de vous satisfaire au mieux. </p>
  </div>


  </div>

</body>
</html>

