<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact</title>
</head>
<body>
  <h1 class="titre text-center mt-5">Bienvenue sur la page de Contact</h1>
  <div class="texte container-fluid text-center mt-5 ">
  <p class="lecture">Trouver la personne (pour réaliser vos divers travaux) avec RocVoisins est très simple. Il vous suffit de nous contacter par email en cliquant sur le lien  <a href="mailto:#" class="lien">RocVoisins</a>  et de décrire votre/vos besoins(s) et votre lieu de résidence..</p>
    <p>Par la suite nous vous répondrons afin de vous satisfaire au mieux. </p>
    <h3 class="mt-5">Excellente journée à vous</h3>
  </div>
  <div class="container mt-5">
    <img class="d-block mx-auto my-5" src="assets/img/presentation.png" alt="">
  </div>
</body>
</html>
