<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jardinage</title>
</head>
<body>
  <h1 class="titre text-center mt-5">Bienvenue sur la page Jardinage</h1>

  <div class="container">

    <p class="text-center mt-5">AVOIR UN JOLI JARDIN PARFAITEMENT ENTRETENU S'AVÈRE PARTICULIÈREMENT AGRÉABLE. EN REVANCHE, TONDRE SA PELOUSE N'EST PAS TOUJOURS UN PLAISIR ! PAR MANQUE DE TEMPS, D'ENVIES OU D'ÉQUIPEMENT, NOMBREUX SONT LES PROPRIÉTAIRES OU LES OCCUPANTS D'UN LOGEMENT À LAISSER LEUR JARDIN À L'ABANDON. POUR NE PAS EN ARRIVER LÀ ET PROFITER PLEINEMENT D'UN GAZON BIEN TONDU, DÉLÉGUEZ CETTE MISSION</p>
</div>
<div class="container  ">
  <div class="col">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner ">
      <div class="carousel-item active ">
        <img src="assets/img/jardin.png" class="d-block w-50" style="margin-left: 25%;" alt="...">
      </div>
      <div class="carousel-item ">
        <img src="assets/img/tondeuse.png" class="d-block w-50" style="margin-left: 25%;" alt="...">
      </div>
      <div class="carousel-item ">
        <img src="assets/img/fraisier.png" class="d-block w-50" style="margin-left: 25%;" alt="...">
      </div>
      <div class="carousel-item ">
        <img src="assets/img/tontejardin.png" class="d-block w-50" style="margin-left: 25%;" alt="...">
      </div>
    </div>

  </div>
<div class="container texte mt-5 ">
  Le coût de l'heure d'aide à l'entretien du jardin variera en fonction du travail demandé entre 25 et 36 euros de l'heure selon l'expérience et le niveau de qualité de votre intervenant. Ce tarif est donné avant crédit d'impôt de 50%, soit 12,5 à 18€ de l'heure net.
<p>A savoir que les matériaux de coupe, et les produits necessaires au bon fonctionnement (essence,huile,etc..) seront fournis par le demandeur de service (possibilité de voir avec l'intervenant si besoin )</p></div></div>
</div>
</body>
</html>
