<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ménage</title>
</head>
<body>
  <h1 class="titre text-center mt-5 ">Bienvenue sur la page Ménage</h1>
  <div class="container ">
  <p class="text-center mt-5">Pas facile de trouver le temps de faire le ménage ? Optez pour des sessions d’entretien ou de repassage à domicile.</p>
</div>
<div class="container  ">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner ">
      <div class="carousel-item active ">
        <img src="assets/img/menage.png" class="d-block w-50" style="margin-left: 25%;" alt="...">
      </div>
      <div class="carousel-item ">
        <img src="assets/img/menage1.png" class="d-block w-50" style="margin-left: 25%;" alt="...">
      </div>
      <div class="carousel-item ">
        <img src="assets/img/repassage.png" class="d-block w-50" style="margin-left: 25%;" alt="...">
      </div>
    </div>

  </div>
<div class="container texte ">
  Le coût de l'heure de ménage variera en fonction du travail demandé entre 25 et 36 euros de l'heure selon l'expérience et le niveau de qualité de votre intervenant. Ce tarif est donné avant crédit d'impôt de 50%, soit 12,5 à 18€ de l'heure net.
<p>Tout le materiel sera fourni par le demandeur ainsi que les produits d'entretien </p></div></div>



</body>
</html>
