<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Petits_travaux</title>
</head>
<body>
  <h1 class="titre text-center mt-5">Bienvenue sur la page petits travaux</h1>

  <div class="container ">
    <p class="text-center mt-5">Avec l'âge malheureusement, certains travaux que l'on faisait soi-même ne peuvent plus l'être.  RocVoisins peut vous aider !!!</p>
  </div>
  <div class="container  ">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
      </div>
      <div class="carousel-inner ">
        <div class="carousel-item active ">
          <img src="assets/img/travauxinterieur.png" class="d-block w-50" style="margin-left: 25%;" alt="...">
        </div>
        <div class="carousel-item ">
          <img src="assets/img/travauxinterieur1.png" class="d-block w-50" style="margin-left: 25%;" alt="...">
        </div>
        <div class="carousel-item ">
          <img src="assets/img/posecarrelage.png" class="d-block w-50" style="margin-left: 25%;" alt="...">
        </div>
        <div class="carousel-item ">
          <img src="assets/img/pose_carrelage_fayence.png" class="d-block w-50" style="margin-left: 25%;" alt="...">
        </div>
        <div class="carousel-item ">
          <img src="assets/img/maconnerie.png" class="d-block w-50" style="margin-left: 25%;" alt="...">
        </div>
      </div>

    </div>
  <div class="container texte  ">
    Le coût de l'heure de pose variera en fonction des matériaux et du produit (plaque de platre, carrelage, fayence) entre 30 et 40 euros de l'heure selon l'expérience et le niveau de qualité de votre intervenant.<br><br>
  <p>Ce tarif est donné avant crédit d'impôt de 50%, soit 15 à 20€ de l'heure net.</p>
  <p>A savoir que les matériaux seront fournis par le demandeur de service (possibilité de voir avec l'intervenant )</p></div></div>

</body>
</html>
